body{
  background-color: #FF1800;
  /*background-color: #cf4646;*/
  font-family: 'Kaushan Script', cursive;
  color: white;
}

#main-content{
  position: absolute;
  top: 10%;
  left: 35%;
}

#title{
  font-size: 60px;
  margin-left: 125px;
}



#subtitle{
   
  font-size: 45px;
  font-weight: 300;
  line-height: 60px;
  margin-top: -50px;

}

#current{
  /*background-color: yellow;*/
  margin-top: 400px;
  padding: 10px;
}


.days{
  margin-left: 400px;
  font-size: 20px;
}

.times{
  float: right;
  margin-top: -34px;
  margin-right: 400px;
  font-size: 20px;

}

/*.days{
  margin-left: 23px;
}


.times{
  float: right;
  margin-right: 600px;
  margin-top: -23px;
}*/